/* All the CSS related to answers Page*/
.comment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e4e4e4;
    margin-top: 0;
    margin-bottom: 0; 
}

.comment_vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 32px;
    margin-left: 40%;
}

.commentText {
    width: 35%;
    margin-left: 8px;
}

.comment_author {
    display: flex;
    align-items: center;
    gap: 6px;
    color: blue;
}
