.tagNode {
    place-self: center;
    border: 1px solid #e4e4e4;
    padding: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.tagName {
    color: cornflowerblue;
}
