* {
    font-family: "Stack Sans Text", sans-serif;
    font-optical-sizing: auto;
}

button {
    border-radius: 8px;
}

html {
    height: 99%;
}

body,
#root {
    height: 100%;
}

body {
    margin: 0;
}

.app_shell {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1264px;
    height: 100%;
    margin: 0 auto;
}
