.btns {
    margin-right: 15%;
}

.question_list:last-child {
    border-bottom: 1px solid #e4e4e4;
}

.pager {
    display: flex;
    gap: 8px;
    margin: 16px 0 24px;
}

.page_current {
    background: #cccccc;
}
